.advantages{
    background-color: #242B33;
   background: url('../../src/img/2.png');
    background-repeat: no-repeat;
    background-position:right;
    color: #e7e7e7;
}
.advantages__ul{
    padding-top: 100px;
   display: flex;
   text-align: center;
   justify-content: space-around;
   margin: 0;
  padding-left: 0;
}
.advantages__item{
    font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 27px;

}
.advantages__item p{
   vertical-align: text-bottom;
   padding-top: 25px;
}
.advantages__item-wrapper{
    margin: 0 auto;
    width: 80px;
    height: 80px;
}
.advantages__item-wrapper img{
    width: 100%;
}
@media screen and (max-width: 377px){
.advantages__ul{
    flex-wrap: wrap;
}
.advantages__item-wrapper{
    width: 50px;
    height: 50px;
}
.advantages__item p{
    font-size: 15px;    
    padding-top: 0;
}
}
@media screen and (min-width: 378px) and (max-width: 767px){
    .advantages__ul{
        flex-wrap: wrap;
    }
    .advantages__item-wrapper{
        width: 60px;
        height: 60px;
    }
    .advantages__item p{
        font-size: 15px;
        padding-top: 0;
    }  
    .advantages__item{
        display: block;
        width: 170px;
    } 
}