html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
body{
    background-image: url('../../src/img/headerbgi.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-color: #242B33;
    color: white;
    font-family: 'Exo 2', sans-serif;
}
@media screen and (max-width: 377px){
    .container{
        max-width: 377px;
    }
}
@media (max-width: 767px){
    
}