.main-footer{
   background-color:#2D343C;; 
}
.main-footer__flex-wrapper{
    display: flex;
    justify-content: space-between;
}
.main-footer__ul{
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
padding-top: 30px;
margin-top: 0;
color: #e7e7e7;
}
.main-footer__item{
    padding-top: 15px;
}
.main-footer__logo{
    padding-top: 30px;
}
.social a {
    text-align: center;
    display: block;
    width: 50px;
    height: 50px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
}
.social i{
    padding-top: 4px;
}
.youtube a:hover {
    background: #c4302b; color: #fff;
}
.github a:hover {
    background: #191919; color: #fff;
}
.vk a:hover {
    background: #5d84ae; color: #fff;
}
.telegram a:hover {
    background: #249bd7; color: #fff;
}
.d-flex{
    display: flex;
}
.main-footer span{
    color: #D4C17F;
}
@media screen and (max-width: 377px){
    .main-footer__flex-wrapper{
       flex-wrap: wrap;
    }
    .main-footer__logo{
        display: block;
        width: 200px;
        margin: 0 auto;
    }
    .main-footer__logo img{
        display: block;
        margin: 0 auto;
    }
    .main-footer__logo p{
        text-align: center;
    }
    .main-footer__ul{
        display: block;
        margin: 0 auto;
        text-align: center;
        padding-top: 10px;
        padding-left: 0;
    }
}