.map-title{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
    padding-top: 180px;
}
.map{
    width: 100%;
    height: 500px;
    padding-top: 100px;
display: block;
margin: 0 auto;
}
.main-map{
    background-image: url('../../src/img/5.png');
    background-repeat: no-repeat;
    background-position: left center;
}
.map-wrapper{
    display: block;
    margin: 0 auto;
    max-width: 1000px;
}